@use '../util' as *;

.toggle{
    display: grid;
    grid-template-columns: 1fr torem(48);
    gap: torem(4.8) torem(8);
    border: none;
    margin: 0;

    label{
        font-size: torem(14);
        &[for="dark"]{
            line-height: torem(24);
            margin-right: torem(13);
        }
    }

    &__wrapper{
        position: relative;
        grid-column: 2/3;
        height: torem(24);

    }
    input[type="radio"]{
        margin: 0 torem(-3) 0 torem(-3);
        opacity: 0;
        width: torem(24);
        height: torem(24);

        &:focus ~ .toggle__button{
            border: torem(2) torem(2) white;
        }
    }
    &__background{
        display: block;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: torem(12);
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
        position: absolute;
        pointer-events: none;
    }
    &__button{
        top: torem(3);
        position: absolute;
        left: torem(3);
        right: 100%;
        width: torem(18);
        height: torem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button{
        left: calc(100% - torem(21));
        right: torem(3);
    }
}